{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css'%}">

    <title>Restorations</title>
</head>
<body>
    <header>
        
        <a href="" class="logo"><i class="fas fa-utensils"></i>Food</a>
        <div id="menu-bar" class="fas fa-bars"></div>
        <nav id="bar" class="navbar">
            <a href="#home">Home</a>
            <a href="#speciality">Speciality</a>
            <a href="#populare">Populare</a>
            <a href="#review">Review</a>
            <a href="#order">Order</a>
        </nav>
    </header>


 <!--home section start-->
 <section class="home" id="home">
    <div class="content">
        <h3>Bienvenue chez Petit Kimchi</h3>
        <p>Chez <strong>Petit Kimchi</strong>, nous vous invitons à découvrir la magie des saveurs coréennes 
            dans une ambiance chalereuse et familiale.
            Chaque plat est une petit voyage à Séoul,
            préparé avec amour par nos chefs passionnés, avec des ingrédients frais et authentiques.
            
        </p>
        <a href="#order" class="btn">commander</a>  
    </div>
    <div class="image">
        <img src="static/imag/kimchi-png.png" alt="">
    </div>
    </section>
 <!--home section end-->

 <!--speciality start-->
 <section class="speciality" id="speciality">
        <h1 class="heading">Our <span> speciality</span></h1>
        <div class="box-container">
            <div class="box">
                <img class="imgReel"src="static/imag/Kimbap.webp" alt="">
                <div class="content">
                    <img class="imgAnime" src="static/imag/kimbap-anime.jpg" alt="">
                    <h3>Kimbap</h3>
                    <p> invitons à découvrir la magie des saveurs coréennes 
                        dans une ambiance chalereuse et familiale.</p>
                </div>
            </div>
            <div class="box">
                <img class="imgReel" src="static/imag/tteeokbokki.jpg" alt="">
                <div class="content">
                    <img class="imgAnime" src="static/imag/tteeoboki-anime.jpg" alt="">
                    <h3>tteeoboki</h3>
                    <p> invitons à découvrir la magie des saveurs coréennes 
                        dans une ambiance chalereuse et familiale.</p>
                </div>
            </div>
            <div class="box">
                <img class="imgReel" src="static/imag/cake.png" alt="">
                <div class="content">
                    <img class="imgAnime" src="static/imag/cake-free-png (1).png" alt="">
                    <h3>Cake</h3>
                    <p> invitons à découvrir la magie des saveurs coréennes 
                        dans une ambiance chalereuse et familiale.</p>
                </div>
            </div>
            <div class="box">
                <img class="imgReel" src="static/imag/bibimbap.webp" alt="">
                <div class="content">
                    <img class="imgAnime" src="static/imag/bibimbap-anime.jpg" alt="">
                    <h3>Bibimbap</h3>
                    <p> invitons à découvrir la magie des saveurs coréennes 
                        dans une ambiance chalereuse et familiale.</p>
                </div>
            </div>

            <div class="box">
                <img class="imgReel" src="static/imag/anko.jpg" alt="">
                <div class="content">
                    <img class="imgAnime" src="static/imag/anko-anime.jpg" alt="">
                    <h3>Anko</h3>
                    <p> invitons à découvrir la magie des saveurs coréennes 
                        dans une ambiance chalereuse et familiale.</p>
                </div>
            </div>
            <div class="box">
                <img class="imgReel" src="static/imag/bingsu.png" alt="">
                <div class="content">
                    <img class="imgAnime" src="static/imag/bingsu_anime.jpg" alt="">
                    <h3>Bingsu</h3>
                    <p> invitons à découvrir la magie des saveurs coréennes 
                        dans une ambiance chalereuse et familiale.</p>
                </div>
            </div>
        </div>
 </section>
 <!--speciality end-->
 <!--popular start-->

 <section class="popular" id="popular">
    <h1 class="heading">Moste <span>popular</span> foods</h1>
    <div class="box-container">
        <div class="box">
            <span class="price">$20</span>
            <img class="imgPopu" src="static/imag/popu1.jpg" alt="">
            <h3>Kimshi</h3>
            <div class="start">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="" class="btn">Order now</a>
        </div>
        <div class="box">
            <span class="price">$40</span>
            <img class="imgPopu" src="static/imag/popu2.webp" alt="">
            <h3>Bulgogi</h3>
            <div class="starts">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="" class="btn">Order now</a>
        </div>
        <div class="box">
            <span class="price">$20</span>
            <img class="imgPopu" src="static/imag/popu3.webp" alt="">
            <h3>Yachaejeon</h3>
            <div class="start">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="" class="btn">Order now</a>
        </div>
        <div class="box">
            <span class="price">$65</span>
            <img class="imgPopu" src="static/imag/popu4.webp" alt="">
            <h3>Dakgangjeong</h3>
            <div class="start">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="" class="btn">Order now</a>
        </div>
        <div class="box">
            <span class="price">$51</span>
            <img class="imgPopu" src="static/imag/popu5.webp" alt="">
            <h3>strawberry latte</h3>
            <div class="start">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="" class="btn">Order now</a>
        </div>
        <div class="box">
            <span class="price">$70</span>
            <img class="imgPopu" src="static/imag/popu7.jpg" alt="">
            <h3>Kimshi jjigae</h3>
            <div class="start">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="" class="btn">Order now</a>
       </div>
    </div>
 </section>
 <!--popular end-->

  <!--step start-->
  <section class="steps" id="steping">
    <h1 class="heading">How it<span> works</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="static/imag/step1.jpg" alt="" class="imagStep">
            <h3>choose your favorite food</h3>
        </div>
        <div class="box">
            <img src="static/imag/step2.jpg" alt="" class="imagStep">
            <h3>free and fast delivery</h3>
        </div>
        <div class="box">
            <img src="static/imag/step3.jpg" alt="" class="imagStep">
            <h3>easy payement methods</h3>
        </div>
        <div class="box">
            <img src="static/imag/step4.jpg" alt="" class="imagStep">
            <h3>and finally, enjoy your food</h3>
        </div>
    </div>
  </section>

   <!--step end-->

    <!--gallery start-->
    <section class="gallery" id="gallery">
        <h1 class="heading">Our food <span>gallery</span></h1>
        <div class="box-contenair">
            <div class="box"> 
                <img class="imagGallery" src="static/imag/gallery1.jpg" alt="">
                <div class="content">
                    <h3>tasty food</h3>
                    <p>invitons à découvrir la magie une petit voyage à Séoul</p>
                        <a href="" class="btn">Order now</a>
                </div>
            </div>
            <div class="box">
                <img class="imagGallery" src="static/imag/gallery2.png" alt="">
                <div class="content">
                    <h3>tasty food</h3>
                    <p>invitons à découvrir la magie une petit voyage à Séoul</p>
                        <a href="" class="btn">Order now</a>
                </div>
            </div>
            <div class="box">
                <img class="imagGallery" src="static/imag/gallery3.jpg" alt="">
                <div class="content">
                    <h3>tasty food</h3>
                    <p>invitons à découvrir la magie une petit voyage à Séoul</p>
                        <a href="" class="btn">Order now</a>
                </div>
            </div>
            <div class="box">
                <img class="imagGallery" src="static/imag/gallery4.jpg" alt="">
                <div class="content">
                    <h3>tasty food</h3>
                    <p>invitons à découvrir la magie une petit voyage à Séoul</p>
                        <a href="" class="btn">Order now</a>
                </div>
            </div>
            <div class="box">
                <img class="imagGallery" src="static/imag/gallery5.jpg " alt="">
                <div class="content">
                    <h3>tasty food</h3>
                    <p>invitons à découvrir la magie une petit voyage à Séoul</p>
                        <a href="" class="btn">Order now</a>
                </div>
            </div>
            <div class="box">
                <img class="imagGallery" src="static/imag/gallery6.jpg" alt="">
                <div class="content">
                    <h3>tasty food</h3>
                    <p>invitons à découvrir la magie une petit voyage à Séoul</p>
                        <a href="" class="btn">Order now</a>
                </div>
            </div>
            <div class="box">
                <img class="imagGallery" src="static/imag/gallery7.jpg" alt="">
                <div class="content">
                    <h3>tasty food</h3>
                    <p>invitons à découvrir la magie une petit voyage à Séoul</p>
                        <a href="" class="btn">Order now</a>
                </div>
            </div>
            <div class="box">
                <img class="imagGallery" src="static/imag/gallery8.jpg" alt="">
                <div class="content">
                    <h3>tasty food</h3>
                    <p>invitons à découvrir la magie une petit voyage à Séoul</p>
                        <a href="" class="btn">Order now</a>
                </div>
            </div>
            <div class="box">
                <img class="imagGallery" src="static/imag/gallery9.jpg" alt="">
                <div class="content">
                    <h3>tasty food</h3>
                    <p>invitons à découvrir la magie une petit voyage à Séoul</p>
                        <a href="" class="btn">Order now</a>
                </div>
            </div>
        </div>
    </section>
     <!--gallery end-->

<!--reviews start-->
<section class="reviews" id="reviews">
<h1 class="heading"> Our customers <span>reviews</span></h1>
    <div class="box-contenair">
        <div class="box">
            <img class="imagCuistot" src="static/imag/cuistot1.jpg" alt="">
            <h3>Hélène</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>invitons à découvrir la magie une petit voyage à Séoul.invitons à découvrir la magie une petit voyage à Séoul</p>
        </div>
        <div class="box">
            <img class="imagCuistot" src="static/imag/cuistot2.png" alt="">
            <h3>Kim</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>invitons à découvrir la magie une petit voyage à Séoul.invitons à découvrir la magie une petit voyage à Séoul</p>
        </div>
        <div class="box">
            <img class="imagCuistot" src="static/imag/cuistot3.jpg" alt="">
            <h3>Song</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>invitons à découvrir la magie une petit voyage à Séoul.invitons à découvrir la magie une petit voyage à Séoul</p>
        </div>
    </div>
</section>
<!--reviews end-->

<!--order start-->
<section class="order" id="order">
    <h1 class="heading">Order <span>now</span></h1>
    <div class="row">
      <div class="imag">
        <img src="static/imag/accuelle.jpg" alt="">
      </div>  
      <form action="" method="">
        <div class="inputBox">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="email">
        </div>
        <div class="inputBox">
            <input type="number" placeholder="Number">
            <input type="text" placeholder="food name">
        </div>
        <textarea placeholder="address" name="" id="" cols="30" rows="10"></textarea>
        <input type="submit" class="btn" value="order now">
      </form>
    </div>
</section>
<!-- order end-->

<!-- footer start-->
<section class="footer" id="footer">
    <div class="share">
        <a href="" class="btn">facebook</a>
        <a href="" class="btn">twitter</a>
        <a href="" class="btn">instagram</a>
        <a href="" class="btn">painterest</a>
        <a href="" class="btn">linkdin</a>
    </div>
    <h1 class="credit">create by <span>Miss. Rose</span> designer | all rights reserveds! </h1>
</section>
<!-- footer end-->

<!-- scroll top button start-->
<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scrool top button end-->
   <script src="static/js/script.js"></script>   
</body>
</html>